.local-catalog-autocomplete {
  position: relative;
  display: inline-block;
}
.local-catalog-autocomplete-scroll {
  overflow-y: scroll;
  max-height: 298px;
}
.local-catalog-autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  top: 100%;
  left: 0;
  right: 0;
}
.local-catalog-autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4;
  word-break: break-all;
}
.local-catalog-autocomplete-items div:hover {
  background-color: #e9e9e9; 
}
.local-catalog-autocomplete-active {
  background-color: #e9e9e9 !important; 
  color: #000000; 
}